{% load static %}
<html>
    <head>
        <title>kou's factory</title>
    </head>
    <body>
        <link href="{% static 'kou_site/style.css' %}" rel="stylesheet">
        <h1>
            <a href="">
                <img src="{% static 'kou_site/kous-factory.png' %}" alt="kou's factory" width="700" height="90">
            </a>
        </h1>
        <div class="header">
            <p>
                kouのホームページ(予定地)
            </p>
        </div>
        <div class="notice">
            <p>
                逐次工事中！！
            </p>
        </div>
        <div class="calcapp">
            <a href="{% url 'granblue_calc:index' %}">
                グラブルイベント計算機
            </a>
        </div>
        <a href="https://m.youtube.com/channel/UCKNS-ippiqnlhteQyc3sVPg"><img src="{% static 'kou_site/youtube_social_squircle_red.png' %}" alt="kou's Gaming"></a>
        <a href="https://twitter.com/kou_0193"><img src="{% static 'kou_site/Twitter_Social_Icon_Rounded_Square_Color.png' %}" alt="kou's Twitter" width="64" height="64"></a>
    </body>
</html>